* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #DDD3FF;
    gap: 5%
}

h1 {
    font-family: 'Pacifico', cursive;
    letter-spacing: 10px;
    color: #382678;
    text-shadow: 0.7px 0.9px 0.2px #483391;
    ;

}

input[type="text"] {
    font-family: 'Mukta', sans-serif;
    font-weight: 200;

}

/* seccion para andir task*/

#anadir {
    /* border: 2px solid black; */
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

#TaskForm {
    width: 100%;
    justify-content: center;
    display: inline-block;
    display: flex;
    gap: 20px;
}

input[type="text"] {
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
    width: 600px;
    width: 50%;



}

input[type="text"]:focus {
    outline: none;
}

#Submit {
    width: 25px;
    height: 25px;
    transform: scaleX(-1) rotate(-180deg) translateY(-5px);
}

#Submit:hover {
    transform: scale(1.1) scaleX(-1) rotate(-180deg) translateY(-5px);

}

#submit:focus {
    outline: none;
}

/* lista de tareas*/
#garbage {
    border: none;
    background: none;
    cursor: pointer;
}

#lista {
    width: 80%;
    position: relative;
    height: 40vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}


.ContenedorPrincipal {


    display: flex;
    justify-content: space-between;
    width: 70%;
}


li {
    list-style: none;
    margin: 10px 0px;
    display: flex;
    justify-content: center;

}

ul {

    width: 80%;
}

label {
    user-select: none;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    cursor: pointer;


}

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;


}



label::before {
    font-family: "Font Awesome 6 Free";
    content: "\f068";
    font-weight: 900;
    font-size: 1.3em;
    color: #382678;
    margin-right: 1vw;

}

input[type="checkbox"]:checked+label::before {
    content: "\f00c";
    transition: content 0.2s ease-in-out;
}






/*barra de progreso */
#barra {
    width: 80%;
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Mukta', sans-serif;
    font-weight: 900;
    letter-spacing: 5px;
}

progress {
    accent-color: #6abb1a;
    background-color: #457a11;
    appearance: none;

    max-width: 100%;
    border-radius: 2em;

}

progress::-webkit-progress-bar {
    background-color: #457a11;
    border-radius: 2em;


}

progress::-webkit-progress-value {
    border-radius: 2em;
    background-color: #6abb1a;
    ;

}